extensions:
	dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	orm: Nextras\Orm\Bridges\NetteDI\OrmTestsExtension
dbal:
	driver: pgsql
	host: localhost
	database: mikulas_ormext_test
	username: postgres
	password:
orm:
	model: Mikulas\OrmExt\Tests\Model
	testingMappers: false
